<ul>
    <li>
        <a routerLink="">Home</a>
    </li>
    <li>
        <a routerLink="negocios">Unidades Estratégicas de negocios</a>
    </li>
    <li>
        <a routerLink="areas">Áreas</a>
    </li>
    <li>
        <a routerLink="institucional">Institucional</a>
    </li>
    <li>
        <a routerLink="autoridades">Autoridades</a>
    </li>
    <li>
        <a routerLink="balance">Balance General</a>
    </li>
    <li>
        <a routerLink="ambiente">Medio Ambiente</a>
    </li>
    <li>
        <a routerLink="contacto">Contacto</a>
    </li>
</ul>